html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

#root,
#__next {
  height: 100%;
}

body {
  font-family: "Amazon Ember", "Helvetica Neue", Arial, sans-serif;
  background-color: #f2f3f3;
  color: #16191f;
  transition: background-color 0.4s ease, color 0.4s ease;
}

.awsui-dark-mode body {
  background-color: #202530;
  color: #d5dbdb;
}

a {
  text-decoration: none;
}
